<div id="musicStyle">
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">

    <h2 class="w3-wide w3-center">MÚSICA</h2>

    <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">

      <div class="w3-third w3-margin-bottom"></div>

      <div class="w3-third w3-margin-bottom">
        <div class=" w3-card-2">

          <img src="images/OnirianRaices.jpg" alt="Raíces" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-light-grey w3-center">
            <p class="w3-opacity">2016</p>
            <p><b>Racíes</b></p>
            <button class="w3-btn w3-margin-bottom"
                    onclick="document.getElementById('ticketModal').style.display='block'">Descargar</button>
          </div>

        </div>
      </div>

      <div class="w3-third w3-margin-bottom"></div>

    </div>
  </div>
</div>
