/* remove the underline link style */
a, a:focus, a:hover {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Lato", sans-serif;
}

.w3-red {
  background-color: #b12b3e !important;
}
