/* remove the underline link style */
a, a:focus, a:hover {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Lato", sans-serif;
}

.w3-red {
  background-color: #b12b3e !important;
}

#toTopButton {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

#toTopButton a {
  box-shadow: 0 2px 5px #000;
}
